body {
    font-family: sans-serif;
    font-size: large;
    color: 'black';
    margin:2%;
    padding: 0%;
    background-color: white;
}
b {
    font-weight: bold;
}
h1 {
	font-weight: bold;
	font-size: 1.5em;
	color:#000407;
	border-bottom: 1px solid white; 
}
h2 {
	font-weight: bold;
	font-size: 1.2em;
	color:#96CDFF; 
}
ul{
	list-style-type: none;
	margin: 0px;
	padding: 0px; 
}
a:link {
	font-weight : normal; /*(normal, bold, thickness: 100 to 900)*/
	text-decoration : none;
	color: #0000FF;
	background: transparent; 
}
a:visited {
	text-decoration : none;
	color: #4B0082;
	background: transparent; 
}
a:hover {
	color: #FA0000;
	background: transparent;
	text-decoration : underline; 
}
a:active {
	color: #494949;
	background: transparent;
	font-weight : bold;
	text-decoration : underline; 
}
#item1{
		font-weight: bold;
}