body{
    font: 'Times New Roman';
}
p.header{
    margin: auto;
    width: 50%;
    text-align: center;   
    font-weight: bold;
    font-size: xx-large;
    text-decoration-line: underline;
}
.wkp{
    font-size: large; 
    font-family: 'Times New Roman'; 
    width: 12%; 
    background-color: gray;
}
.wk{
    font-family: 'Times New Roman';
    font-size: large;
}
